body 
{
  padding:0px;
  margin:0px;

}
.errorExplanation
{
border-top: 5px solid #B50D37;
background: #DE5073;
border-bottom: 5px solid #B50D37;
padding-left:20px;
margin-bottom:20px;
}

#Header
{
  padding:10px 0 0 0;
  height:47px;
  background:#FFFFFF;
  border-bottom: 3px solid #000000;
  text-align:center;
}

#Wrapper
{
  background:#808080;
}
#Content
{
  background:#FFFFFF;
  width:1000px;
  padding:20px 10px;
  min-height:790px;
  margin: 0px auto 0px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

#Footer
{
  background:#FFFFFF;
  padding:20px 0 0 0;
  border-top: 3px solid #000000;
  text-align:center;
}

h1
{
  margin:0px;
  padding:0px;
}

table { border-collapse: collapse; 
  width: 1000px;
}
td, th { padding: 5px; border: 1px solid #808080; }
td#icons
{
  min-width:35px;
}

.field_with_errors { display: inline; }
.field_with_errors input, .field_with_errors textarea { border: 1px solid #ff0000; }