  <div id="Header">
      <h1>Edit <%= @product.name %></h1>
    </div>
    <div id="Wrapper">
      

              
  <div id="Content">
              <%= error_messages_for @product %>


<%= render :partial => 'form' %>

  </div>
</div>
    <div id="Footer">
    Copyright 2011 - Made by Somnie  
  </div>