  <div id="Header">
<h1>Research for <%= @product.name %></h1>
    </div>
  <div id="Leftbox"></div>
  <div id="Middlebox">


<% form_for @product do |f| %>
  <%= error_messages_for @product %>
  Research:</br> <%= f.text_area :research %></br>
  <%= submit_tag "Submit" %>
<% end %>

  </div>
    <div id="Rightbox"></div>
    <div id="Footer">
    Copyright 2011 - Made by Somnie  
  </div>